body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px;
    color: black;
}

h1 {
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table[border="1"] {
    font-size: 8px !important;
}

.hh {
    text-align: center;
    font-weight: bold;
}

.judul {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.judul_sub {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bor {
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: calibri;


}

.bor_child {
    border: 1px solid black;
    text-align: center;
    font-size: 12px;

    font-family: calibri;

}

.autir {
    border-right: 1px solid;
    font-size: 16px;
    padding-left: 20px;
    font-weight: bold;
}

.border_btm {
    border-bottom: 1px solid;
}

.border_rgt {
    border-right: 1px solid;
}

.border_lft {
    border-left: 1px solid;
}

.ttd {
    height: 220px;
}